*{
  font-family: 'Prompt', sans-serif; 
}
  .img_content-2{
 clear: both;
 margin: auto;
 width: 50%;
  }

  
  @media screen and (min-width:600px) {
.img_content-2 {
     width: 60%;
    }
 
    img{
        width: 100%;
    }

    
  }
  
  @media screen and (max-width:600px){
  .img_content-2,img{
        width: 100%;
        margin: 0;
        object-fit: cover;
    }

  }
