*{
    font-family: 'Prompt', sans-serif;
}

.container-11{
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 30px;
    margin-bottom: -10%;
}

.flexbox-11{
    width: 80%;
    margin: auto;
    background-color: rgb(218, 214, 203);
    margin-top: 10%;
    padding: 5%;
}

h2{
    width: 100%;
}

img{
    width: 50%;
}