
.data1{
    width: 90%;
    margin: auto;
    height: 550px;
}
.data2{
    width: 90%;
    margin: auto;
    height: 300px;
}

.collage{
    width: 30%;
    height: 100%;
    float: left;
    padding: auto;
    margin-right: 3%;
    font-size: 2em;
}

.collage ul{
    list-style: none;
    text-align: left;
    text-decoration: none;
}

.collage ul a{
    text-decoration: none;
}
#collage-1{
    clear: both;
}

h3,h3 a{
    font-size: 1em;
    text-decoration: none;
    color: black;
}

*{
    font-family: 'Prompt', sans-serif;
}
@media screen and (max-width:500px){
    .data1,.data2,.collage{
        width: 100%;
        margin: 0%;
    }
}